{% extends "base.html" %}
{% block content %}
<div hx-ext="response-targets">
<div class="container mt-5 text-center">
  <h3 class="text-center">
    Carica un file csv </h3>
    <i class="bi bi-filetype-csv h2"></i>
    
      <div class="card mt-3 text-start" style="width:50%; margin: 0 auto; float: none;">
        <div class="card-body ">
          <h5 class="card-title">Prima di effettuare il caricamento</h5>
          <p class="card-text text-start">Controllare che il file contenga esattamente e
            solo questi campi (si veda la <a href="https://almalibri.it/guida/adozioni">guida ad Almalibri</a>): <br>
           
            'uni_cod', 'a_a', 'facolta', 'laurea_nome', 'laurea_tipo', 'sede',
          'laurea_classe_cod', 'curr_nome', 'materia_nome', 'materia_ssd_cod', 'materia_cfu',
          'curr_materia_anno', 'curr_materia_periodo', 'insegnamento_prof', 'insegnamento_prof_www',
          'isbn', 'autori', 'curatori', 'titolo', 'editore', 'testo_obb', 'testo_uso', 'testo_freq',
          'laurea_iscritti', 'laurea_matricole', 'prof_id', 'insegnamento_id'.</p>
            <p class="card-text text-start">Se si vuole utilizzare un file che è stato scaricato da 
              <a href="https://www.almalibri.it/ricerca/">Almalibri.it</a> occorre conservare tutti i campi, compreso i curricula.
              Il file     
              verrà rielaborato (dall'applicazione) in questo modo:<br />
              <ol>
                <li>vengono aggiunti i campi 'facolta', 'sede', 'prof_id' e 'insegnamento_id';</li>
                <li>per ragioni di semplicità vengono invece eliminati i campi: 'modulo_nome', 'sub_modulo_gruppo', 'sub_modulo_nome', 'modulo_cfu', 'modulo_periodo', 'traduttori',
                  'edizione', 'anno_pub', 'tipo_copertina', 'pagg', 'lingua' e 'prezzo'. </li>
              </ol>
               </p>
        </div>
        
      <div class="form-group">

        <form 
        id="form"
        hx-encoding="multipart/form-data"
        hx-post="/uploadfile"
        hx-target="#nuovi_dati"
        hx-indicator=".htmx-indicator"
        hx-target-error="#any-errors"
        hx-trigger="submit"
        >
      <div class="form-group text-center">
        <div class="form-check form-check-inline ">
          <i class="bi bi-database-exclamation h4"></i>
          <input class="form-check-input" type="radio" id="inlineCheckbox1" name="inlineRadio" value="replace" required>
          <label class="form-check-label" for="inlineCheckbox1">Cancella e ricarica i dati</label>
        </div>
        <div class="form-check form-check-inline">
          <i class="bi bi-database-add h4"></i>
          <input class="form-check-input" type="radio" id="inlineCheckbox2" name="inlineRadio" value="append" required>
          <label class="form-check-label" for="inlineCheckbox2">Aggiungi nuovi dati</label>
        </div>
        <div>
          
          <div class="input-group mb-3">
        <input class="form-control w-50" type="file" name="file" id="fileadozioni">
        
          <span class="input-group-text" id="basic-addon1">Separatore</span>
          
        <select id="Separatore" name="Separatore" class="form-select form-select-sm" required>
              <option selected></option>
              <option value=",">,</option>
              <option value=";">;</option>
        </select>
        <div class="invalid-feedback">
          Inserire un separatore valido
        </div>
       </div>
      </div>
      </div>
      <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" id="myBtn">Carica il file</button> 
            </form>
      </div>

    </div>
    <p class="htmx-indicator">
      <img src="/static/img/bars.svg" width="30"/> attendere prego...
    </p>
    
<div id="any-errors" class="alert h6 mt-3" role="alert"></div>
<div id="nuovi_dati" class="">
{% include 'partial_caricafile.html' %}
</div>
</div>
</div>
{% endblock %}
