{% extends "router_dashboard.html" %}
{% block content%}
<style>
  td { 
    border:1px solid #eee; 
    position:relative; 
    min-width:120px;
  }
  td input, td select {
    position:relative; 
    width:100%;
    border: none; /* Hide the border */
    /* background-color: transparent;  Optional: make the background transparent */
  }
  .toedit {opacity:1;}
  .btn-sm {
        --bs-btn-padding-y: .09rem;
        --bs-btn-padding-x: .2rem;
        --bs-btn-font-size: .5rem;
    }
    .dataTables_wrapper .dataTables_filter input {
        text-align: center;
    }
    .dataTables_wrapper .dataTables_filter {
        display: flex;
        justify-content: center;
    }
    .dataTables_wrapper .dataTables_filter label {
        width: 100%;
        text-align: center;
    }
    .dataTables_wrapper .dataTables_filter input {
        width: auto;
        display: inline-block;
    }
    .dataTables_wrapper .dataTables_filter {
        margin-bottom: 1rem;
    }
</style>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" 
  integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
  <link href="https://cdn.datatables.net/v/dt/dt-2.1.8/b-3.2.0/sb-1.8.1/sl-2.1.0/datatables.min.css" rel="stylesheet">
  <script src="https://cdn.datatables.net/v/dt/dt-2.1.8/b-3.2.0/sb-1.8.1/sl-2.1.0/datatables.min.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/2.1.8/sorting/custom-data-source/dom-text.js"></script>
  <script src="https://cdn.datatables.net/plug-ins/2.1.8/i18n/it-IT.json"></script>
 
    <h3>Gestione docenti</h3>
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Questa tabella è editabile.</h5>
    <h6>Clicca su una cella per modificarla e premi il tasto <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
      <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
      <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
    </svg> per salvare le modifiche. Per eliminare la riga, premi il tasto <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
      <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
      <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
    </svg> </h6><h6>Per una migliore visualizzazione è possibile selezionare solo un gruppo di 
      righe utilizzando il bottone a sinistra "Show only selected".</h6>
  </div></div>
 
  <div class="container-fluid mb-5">
    <table id="dataTable" class="display small">
        <thead>
          
            <tr>
                <th>ID</th>
                <th>Università</th>
                <th>Facoltà</th>
                <th>SSD</th>
                <th>Insegn</th>
                <th>Nome</th>
                <th>url</th>
                <th>prof_id</th>
                <th>insegn_id</th>
                <th>email</th>
                <th>Indirizzo</th>
                <th>Città</th>
                <th>Telefono</th>
                <th>Note</th>
                <th>ISBN</th>
                <th>Titolo</th>
                <th>Data</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <div class="row mt-3">
      <p>Se vuoi continuare ad aggiornare i dati dei docenti con un altro programma 
        puoi scaricare questi dati e ricaricarli poi utilizzando la pagina <a href="/router_uploadfile">Carica file docenti</a>. </p>
        <form method="get" action="/csv_gestione_docenti">
            <button type="submit" class="btn btn-success">Scarica tutti i records</button>
         </form>
     
    </div>
</div>
    <!-- Form to add a new row -->
<form id="add-row-form" action="gestione_docenti/row" method="post">
  <h6>Inserisci qui i dati per creare una nuova riga.</h6>
    <div class="row">
      <div class="form-group col-md-2">
        <label for="uni_cod">Università</label>
        <select id="uni_cod" class="form-select form-select-sm" name="uni_cod">
          <option selected></option>
          <option value="iulm">iulm, Università IULM</option>
          <option value="luiss">luiss, Università LUISS Guido Carli</option>
          <option value="polimi">polimi, Politecnico di Milano</option>
          <option value="polito">polito, Politecnico di Torino</option>
          <option value="unibg">unibg, Università di Bergamo</option>
          <option value="unibo">unibo, Università di Bologna</option>
          <option value="unibocconi">unibocconi, Università Bocconi</option>
          <option value="unibs">unibs, Università di Brescia</option>
          <option value="unica">unica, Università di Cagliari</option>
          <option value="unical">unical, Università della Calabria</option>
          <option value="unicatt">unicatt, Università Cattolica del Sacro Cuore</option>
          <option value="unich">unich, Università di Chieti-Pescara G. D'Annunzio</option>
          <option value="unict">unict, Università di Catania</option>
          <option value="uniecampus">uniecampus, Università eCampus - telematica</option>
          <option value="unife">unife, Università di Ferrara</option>
          <option value="unifi">unifi, Università di Firenze</option>
          <option value="unige">unige, Università di Genova</option>
          <option value="unimib">unimib, Università degli studi di Milano Bicocca</option>
          <option value="unimi">unimi, Università degli studi di Milano - La Statale</option>
          <option value="unimore">unimore, Università di Modena e Reggio Emilia</option>
          <option value="unina">unina, Università di Napoli Federico II</option>
          <option value="uninsubria">uninsubria, Università dell'Insubria</option>
          <option value="unior">unior, Università di Napoli L'Orientale</option>
          <option value="unipa">unipa, Università di Palermo</option>
          <option value="uniparthenope">uniparthenope, Università di Napoli Parthenope</option>
          <option value="unipd">unipd, Università di Padova</option>
          <option value="unipg">unipg, Università di Perugia</option>
          <option value="unipi">unipi, Università di Pisa</option>
          <option value="unipr">unipr, Università di Parma</option>
          <option value="unipv">unipv, Università di Pavia</option>
          <option value="uniroma1">uniroma1, Università di Roma La Sapienza</option>
          <option value="uniroma3">uniroma3, Università Roma Tre</option>
          <option value="unisa">unisa, Università di Salerno</option>
          <option value="unisalento">unisalento, Università del Salento</option>
          <option value="unisi">unisi, Università di Siena</option>
          <option value="uniss">uniss, Università di Sassari</option>
          <option value="unitn">unitn, Università di Trento</option>
          <option value="unito">unito, Università di Torino</option>
          <option value="units">units, Università di Trieste</option>
          <option value="uniud">uniud, Università di Udine</option>
          <option value="uniupo">uniupo, Università del Piemonte Orientale</option>
          <option value="uniurb">uniurb, Università di Urbino Carlo Bo</option>
          <option value="univaq">univaq, Università dell'Aquila</option>
          <option value="unive">unive, Università di Venezia Ca' Foscari</option>
          <option value="univpm">univpm, Università Politecnica delle Marche</option>
          <option value="univr">univr, Università di Verona</option>
          </select>
      </div>
   
        <div class="form-group col-md-2">
          <label for="materia_ssd_cod">Sett. Scientifico Disc.</label>
          <select id="materia_ssd_cod" class="form-select form-select-sm" name="materia_ssd_cod">
            <option selected></option>
            <option value="AGR/01">AGR/01,Economia ed estimo rurale</option>
            <option value="AGR/02">AGR/02, Agronomia e coltivazioni erbacee</option>
            <option value="AGR/03">AGR/03, Arboricoltura generale e coltivazioni arboree</option>
            <option value="AGR/04">AGR/04, Orticoltura e floricoltura</option>
            <option value="AGR/05">AGR/05, Assestamento forestale e selvicoltura</option>
            <option value="AGR/06">AGR/06, Tecnologia del legno e utilizzazioni forestali</option>
            <option value="AGR/07">AGR/07, Genetica agraria</option>
            <option value="AGR/08">AGR/08,Idraulica agraria e sistemazioni idraulico-forestali</option>
            <option value="AGR/09">AGR/09, Meccanica agraria</option>
            <option value="AGR/10">AGR/10, Costruzioni rurali e territorio agroforestale</option>
            <option value="AGR/11">AGR/11, Entomologia generale e applicata</option>
            <option value="AGR/12">AGR/12, Patologia vegetale</option>
            <option value="AGR/13">AGR/13, Chimica agraria</option>
            <option value="AGR/14">AGR/14, Pedologia</option>
            <option value="AGR/15">AGR/15, Scienze e tecnologie alimentari</option>
            <option value="AGR/16">AGR/16, Microbiologia agraria</option>
            <option value="AGR/17">AGR/17, Zootecnica generale e miglioramento genetico</option>
            <option value="AGR/18">AGR/18, Nutrizione e alimentazione animale</option>
            <option value="AGR/19">AGR/19, Zootecnica speciale</option>
            <option value="AGR/20">AGR/20, Zoocolture</option>
            <option value="BIO/01">BIO/01, Botanica generale</option>
            <option value="BIO/02">BIO/02, Botanica sistematica</option>
            <option value="BIO/03">BIO/03, Botanica ambientale e applicata</option>
            <option value="BIO/04">BIO/04, Fisiologia vegetale</option>
            <option value="BIO/05">BIO/05, Zoologia</option>
            <option value="BIO/06">BIO/06, Anatomia comparata e citologia</option>
            <option value="BIO/07">BIO/07, Ecologia</option>
            <option value="BIO/08">BIO/08, Antropologia</option>
            <option value="BIO/09">BIO/09, Fisiologia</option>
            <option value="BIO/10">BIO/10, Biochimica</option>
            <option value="BIO/11">BIO/11, Biologia molecolare</option>
            <option value="BIO/12">BIO/12, Biochimica clinica e biologia molecolare clinica</option>
            <option value="BIO/13">BIO/13, Biologia applicata</option>
            <option value="BIO/14">BIO/14, Farmacologia</option>
            <option value="BIO/15">BIO/15, Biologia farmaceutica</option>
            <option value="BIO/16">BIO/16, Anatomia umana</option>
            <option value="BIO/17">BIO/17, Istologia</option>
            <option value="BIO/18">BIO/18, Genetica</option>
            <option value="BIO/19">BIO/19, Microbiologia generale</option>
            <option value="CHIM/01">CHIM/01, Chimica analitica</option>
            <option value="CHIM/02">CHIM/02, Chimica fisica</option>
            <option value="CHIM/03">CHIM/03, Chimica generale e inorganica</option>
            <option value="CHIM/04">CHIM/04, Chimica industriale</option>
            <option value="CHIM/05">CHIM/05, Scienza e tecnologia dei materiali polimerici</option>
            <option value="CHIM/06">CHIM/06, Chimica organica</option>
            <option value="CHIM/07">CHIM/07, Fondamenti chimici delle tecnologie</option>
            <option value="CHIM/08">CHIM/08, Chimica farmaceutica</option>
            <option value="CHIM/09">CHIM/09, Farmaceutico tecnologico applicativo</option>
            <option value="CHIM/10">CHIM/10, Chimica degli alimenti</option>
            <option value="CHIM/11">CHIM/11, Chimica e biotecnologia delle fermentazioni</option>
            <option value="CHIM/12">CHIM/12, Chimica dell'ambiente e dei beni culturali</option>
            <option value="FIS/01">FIS/01, Fisica sperimentale</option>
            <option value="FIS/02">FIS/02, Fisica teorica  modelli e metodi matematici </option>
            <option value="FIS/03">FIS/03, Fisica della materia</option>
            <option value="FIS/04">FIS/04, Fisica nucleare e subnucleare</option>
            <option value="FIS/05">FIS/05, Astronomia e astrofisica</option>
            <option value="FIS/06">FIS/06, Fisica per il sistema terra e il mezzo circumterrestre</option>
            <option value="FIS/07">FIS/07, Fisica applicata (a beni culturali  ambientali  biologia e medicina) </option>
            <option value="FIS/08">FIS/08, Didattica e storia della fisica</option>
            <option value="GEO/01">GEO/01, Paleontologia e paleoecologia</option>
            <option value="GEO/02">GEO/02, Geologia stratigrafica e sedimentologica</option>
            <option value="GEO/03">GEO/03, Geologia strutturale</option>
            <option value="GEO/04">GEO/04, Geografia fisica e geomorfologia</option>
            <option value="GEO/05">GEO/05, Geologia applicata</option>
            <option value="GEO/06">GEO/06, Mineralogia</option>
            <option value="GEO/07">GEO/07, Petrologia e petrografia</option>
            <option value="GEO/08">GEO/08, Geochimica e vulcanologia</option>
            <option value="GEO/09">GEO/09, Georisorse minerarie e applicazioni mineralogico- petrografiche per ambiente ed i beni culturali</option>
            <option value="GEO/10">GEO/10, Geofisica della terra solida</option>
            <option value="GEO/11">GEO/11, Geofisica applicata</option>
            <option value="GEO/12">GEO/12, Oceanografia e fisica dell'atmosfera</option>
            <option value="ICAR/01">ICAR/01, Idraulica</option>
            <option value="ICAR/02">ICAR/02, Costruzioni idrauliche e marittime e idrologia</option>
            <option value="ICAR/03">ICAR/03, Ingegneria sanitaria-ambientale</option>
            <option value="ICAR/04">ICAR/04, Strade  ferrovie ed aeroporti </option>
            <option value="ICAR/05">ICAR/05, Trasporti</option>
            <option value="ICAR/06">ICAR/06, Topografia e cartografia</option>
            <option value="ICAR/07">ICAR/07, Geotecnica</option>
            <option value="ICAR/08">ICAR/08, Scienza delle costruzioni</option>
            <option value="ICAR/09">ICAR/09, Tecnica delle costruzioni</option>
            <option value="ICAR/10">ICAR/10, Architettura tecnica</option>
            <option value="ICAR/11">ICAR/11, Produzione edilizia</option>
            <option value="ICAR/12">ICAR/12, Tecnologia dell'architettura</option>
            <option value="ICAR/13">ICAR/13, Disegno industriale</option>
            <option value="ICAR/14">ICAR/14, Composizione architettonica e urbana</option>
            <option value="ICAR/15">ICAR/15, Architettura del paesaggio</option>
            <option value="ICAR/16">ICAR/16, Architettura degli interni e allestimento</option>
            <option value="ICAR/17">ICAR/17, Disegno</option>
            <option value="ICAR/18">ICAR/18, Storia dell'architettura</option>
            <option value="ICAR/19">ICAR/19, Restauro</option>
            <option value="ICAR/20">ICAR/20, Tecnica e pianificazione urbanistica</option>
            <option value="ICAR/21">ICAR/21, Urbanistica</option>
            <option value="ICAR/22">ICAR/22, Estimo</option>
            <option value="INF/01">INF/01, Informatica</option>
            <option value="ING-IND/01">ING-IND/01, Architettura navale</option>
            <option value="ING-IND/02">ING-IND/02, Costruzioni e impianti navali e marini</option>
            <option value="ING-IND/03">ING-IND/03, Meccanica del volo</option>
            <option value="ING-IND/04">ING-IND/04, Costruzioni e strutture aerospaziali</option>
            <option value="ING-IND/05">ING-IND/05, Impianti e sistemi aerospaziali</option>
            <option value="ING-IND/06">ING-IND/06, Fluidodinamica</option>
            <option value="ING-IND/07">ING-IND/07, Propulsione aerospaziale</option>
            <option value="ING-IND/08">ING-IND/08, Macchine a fluido</option>
            <option value="ING-IND/09">ING-IND/09, Sistemi per l'energia e l'ambiente</option>
            <option value="ING-IND/10">ING-IND/10, Fisica tecnica industriale</option>
            <option value="ING-IND/11">ING-IND/11, Fisica tecnica ambientale</option>
            <option value="ING-IND/12">ING-IND/12, Misure meccaniche e termiche</option>
            <option value="ING-IND/13">ING-IND/13, Meccanica applicata alle macchine</option>
            <option value="ING-IND/14">ING-IND/14, Progettazione meccanica e costruzione di macchine</option>
            <option value="ING-IND/15">ING-IND/15, Disegno e metodi dell'ingegneria industriale</option>
            <option value="ING-IND/16">ING-IND/16, Tecnologie e sistemi di lavorazione</option>
            <option value="ING-IND/17">ING-IND/17, Impianti industriali meccanici</option>
            <option value="ING-IND/18">ING-IND/18, Fisica dei reattori nucleari</option>
            <option value="ING-IND/19">ING-IND/19, Impianti nucleari</option>
            <option value="ING-IND/20">ING-IND/20, Misure e strumentazione nucleari</option>
            <option value="ING-IND/21">ING-IND/21, Metallurgia</option>
            <option value="ING-IND/22">ING-IND/22, Scienza e tecnologia dei materiali</option>
            <option value="ING-IND/23">ING-IND/23, Chimica fisica applicata</option>
            <option value="ING-IND/24">ING-IND/24, Principi di ingegneria chimica</option>
            <option value="ING-IND/25">ING-IND/25, Impianti chimici</option>
            <option value="ING-IND/26">ING-IND/26, Teoria dello sviluppo dei processi chimici</option>
            <option value="ING-IND/27">ING-IND/27, Chimica industriale e tecnologica</option>
            <option value="ING-IND/28">ING-IND/28, Ingegneria e sicurezza degli scavi</option>
            <option value="ING-IND/29">ING-IND/29, Ingegneria delle materie prime</option>
            <option value="ING-IND/30">ING-IND/30, Idrocarburi e fluidi del sottosuolo</option>
            <option value="ING-IND/31">ING-IND/31, Elettrotecnica</option>
            <option value="ING-IND/32">ING-IND/32, Convertitori  macchine e azionamenti elettrici </option>
            <option value="ING-IND/33">ING-IND/33, Sistemi elettrici per l'energia</option>
            <option value="ING-IND/34">ING-IND/34, Bioingegneria industriale</option>
            <option value="ING-IND/35">ING-IND/35, Ingegneria economico-gestionale</option>
            <option value="ING-INF/01">ING-INF/01, Elettronica</option>
            <option value="ING-INF/02">ING-INF/02, Campi elettromagnetici</option>
            <option value="ING-INF/03">ING-INF/03, Telecomunicazioni</option>
            <option value="ING-INF/04">ING-INF/04, Automatica</option>
            <option value="ING-INF/05">ING-INF/05, Sistemi di elaborazione delle informazioni</option>
            <option value="ING-INF/06">ING-INF/06, Bioingegneria elettronica e informatica</option>
            <option value="ING-INF/07">ING-INF/07, Misure elettriche e elettroniche</option>
            <option value="IUS/01">IUS/01, Diritto privato</option>
            <option value="IUS/02">IUS/02, Diritto privato comparato</option>
            <option value="IUS/03">IUS/03, Diritto agrario</option>
            <option value="IUS/04">IUS/04, Diritto commerciale</option>
            <option value="IUS/05">IUS/05, Diritto dell'economia</option>
            <option value="IUS/06">IUS/06, Diritto della navigazione</option>
            <option value="IUS/07">IUS/07, Diritto del lavoro</option>
            <option value="IUS/08">IUS/08, Diritto costituzionale</option>
            <option value="IUS/09">IUS/09, Istituzioni di diritto pubblico</option>
            <option value="IUS/10">IUS/10, Diritto amministrativo</option>
            <option value="IUS/11">IUS/11, Diritto canonico e diritto ecclesiastico</option>
            <option value="IUS/12">IUS/12, Diritto tributario</option>
            <option value="IUS/13">IUS/13, Diritto internazionale</option>
            <option value="IUS/14">IUS/14, Diritto dell'unione europea</option>
            <option value="IUS/15">IUS/15, Diritto processuale civile</option>
            <option value="IUS/16">IUS/16, Diritto processuale penale</option>
            <option value="IUS/17">IUS/17, Diritto penale</option>
            <option value="IUS/18">IUS/18, Diritto romano e diritti dell'antichità</option>
            <option value="IUS/19">IUS/19, Storia del diritto medievale e moderno</option>
            <option value="IUS/20">IUS/20, Filosofia del diritto</option>
            <option value="IUS/21">IUS/21, Diritto pubblico comparato</option>
            <option value="L-ANT/01">L-ANT/01, Preistoria e protostoria</option>
            <option value="L-ANT/02">L-ANT/02, Storia greca</option>
            <option value="L-ANT/03">L-ANT/03, Storia romana</option>
            <option value="L-ANT/04">L-ANT/04, Numismatica</option>
            <option value="L-ANT/05">L-ANT/05, Papirologia</option>
            <option value="L-ANT/06">L-ANT/06, Etruscologia e antichità italiche</option>
            <option value="L-ANT/07">L-ANT/07, Archeologia classica</option>
            <option value="L-ANT/08">L-ANT/08, Archeologia cristiana e medievale</option>
            <option value="L-ANT/09">L-ANT/09, Topografia antica</option>
            <option value="L-ANT/10">L-ANT/10, Metodologie della ricerca archeologica</option>
            <option value="L-ART/01">L-ART/01, Storia dell'arte medievale</option>
            <option value="L-ART/02">L-ART/02, Storia dell'arte moderna</option>
            <option value="L-ART/03">L-ART/03, Storia dell'arte contemporanea</option>
            <option value="L-ART/04">L-ART/04, Museologia e critica artistica e del restauro</option>
            <option value="L-ART/05">L-ART/05, Discipline dello spettacolo</option>
            <option value="L-ART/06">L-ART/06, Cinema  fotografia e televisione </option>
            <option value="L-ART/07">L-ART/07, Musicologia e storia della musica</option>
            <option value="L-ART/08">L-ART/08, Etnomusicologia</option>
            <option value="L-FIL-LET/01">L-FIL-LET/01, Civiltà egee</option>
            <option value="L-FIL-LET/02">L-FIL-LET/02, Lingua e letteratura greca</option>
            <option value="L-FIL-LET/03">L-FIL-LET/03, Filologia italica  illirica  celtica </option>
            <option value="L-FIL-LET/04">L-FIL-LET/04, Lingua e letteratura latina</option>
            <option value="L-FIL-LET/05">L-FIL-LET/05, Filologia classica</option>
            <option value="L-FIL-LET/06">L-FIL-LET/06, Letteratura cristiana antica</option>
            <option value="L-FIL-LET/07">L-FIL-LET/07, Civiltà bizantina</option>
            <option value="L-FIL-LET/08">L-FIL-LET/08, Letteratura latina medievale e umanistica</option>
            <option value="L-FIL-LET/09">L-FIL-LET/09, Filologia e linguistica romanza</option>
            <option value="L-FIL-LET/10">L-FIL-LET/10, Letteratura italiana</option>
            <option value="L-FIL-LET/11">L-FIL-LET/11, Letteratura italiana contemporanea</option>
            <option value="L-FIL-LET/12">L-FIL-LET/12, Linguistica italiana</option>
            <option value="L-FIL-LET/13">L-FIL-LET/13, Filologia della letteratura italiana</option>
            <option value="L-FIL-LET/14">L-FIL-LET/14, Critica letteraria e letterature comparate</option>
            <option value="L-FIL-LET/15">L-FIL-LET/15, Filologia germanica</option>
            <option value="L-LIN/01">L-LIN/01, Glottologia e linguistica</option>
            <option value="L-LIN/02">L-LIN/02, Didattica delle lingue moderne</option>
            <option value="L-LIN/03">L-LIN/03, Letteratura francese</option>
            <option value="L-LIN/04">L-LIN/04, Lingua e traduzione - lingua francese</option>
            <option value="L-LIN/05">L-LIN/05, Letteratura spagnola</option>
            <option value="L-LIN/06">L-LIN/06, Lingua e letterature ispano-americane</option>
            <option value="L-LIN/07">L-LIN/07, Lingua e traduzione - lingua spagnola</option>
            <option value="L-LIN/08">L-LIN/08, Letteratura portoghese e brasiliana</option>
            <option value="L-LIN/09">L-LIN/09, Lingua e traduzione - lingue portoghese e brasiliana</option>
            <option value="L-LIN/10">L-LIN/10, Letteratura inglese</option>
            <option value="L-LIN/11">L-LIN/11, Lingue e letterature anglo-americane</option>
            <option value="L-LIN/12">L-LIN/12, Lingua e traduzione - lingua inglese</option>
            <option value="L-LIN/13">L-LIN/13, Letteratura tedesca</option>
            <option value="L-LIN/14">L-LIN/14, Lingua e traduzione - lingua tedesca</option>
            <option value="L-LIN/15">L-LIN/15, Lingue e letterature nordiche</option>
            <option value="L-LIN/16">L-LIN/16, Lingua e letteratura nederlandese</option>
            <option value="L-LIN/17">L-LIN/17, Lingua e letteratura romena</option>
            <option value="L-LIN/18">L-LIN/18, Lingua e letteratura albanese</option>
            <option value="L-LIN/19">L-LIN/19, Filologia ugro-finnica</option>
            <option value="L-LIN/20">L-LIN/20, Lingua e letteratura neogreca</option>
            <option value="L-LIN/21">L-LIN/21, Slavistica</option>
            <option value="L-OR/01">L-OR/01, Storia del vicino oriente antico</option>
            <option value="L-OR/02">L-OR/02, Egittologia e civiltà copta</option>
            <option value="L-OR/03">L-OR/03, Assiriologia</option>
            <option value="L-OR/04">L-OR/04, Anatolistica</option>
            <option value="L-OR/05">L-OR/05, Archeologia e storia dell'arte del vicino oriente antico</option>
            <option value="L-OR/06">L-OR/06, Archeologia fenicio-punica</option>
            <option value="L-OR/07">L-OR/07, Semitistica - lingue e letterature dell'etiopia</option>
            <option value="L-OR/08">L-OR/08, Ebraico</option>
            <option value="L-OR/09">L-OR/09, Lingue e letterature dell'africa</option>
            <option value="L-OR/10">L-OR/10, Storia dei paesi islamici</option>
            <option value="L-OR/11">L-OR/11, Archeologia e storia dell'arte musulmana</option>
            <option value="L-OR/12">L-OR/12, Lingua e letteratura araba</option>
            <option value="L-OR/13">L-OR/13, Armenistica  caucasologia   mongolistica e turcologia </option>
            <option value="L-OR/14">L-OR/14, Filologia  religioni e storia dell'iran </option>
            <option value="L-OR/15">L-OR/15, Lingua e letteratura persiana</option>
            <option value="L-OR/16">L-OR/16, Archeologia e storia dell'arte dell'india e dell'asia centrale</option>
            <option value="L-OR/17">L-OR/17, Filosofie  religioni e storia dell'india e dell'asia centrale </option>
            <option value="L-OR/18">L-OR/18, Indologia e tibetologia</option>
            <option value="L-OR/19">L-OR/19, Lingue e letterature moderne del subcontinente indiano</option>
            <option value="L-OR/20">L-OR/20, Archeologia  storia dell'arte e filosofie dell'asia orientale </option>
            <option value="L-OR/21">L-OR/21, Lingue e letterature della cina e dell'asia sud-orientale</option>
            <option value="L-OR/22">L-OR/22, Lingue e letterature del giappone e della corea</option>
            <option value="L-OR/23">L-OR/23, Storia dell'asia orientale e sud-orientale</option>
            <option value="M-DEA/01">M-DEA/01, Discipline demoetnoantropologiche</option>
            <option value="M-EDF/01">M-EDF/01, Metodi e didattiche delle attività motorie</option>
            <option value="M-EDF/02">M-EDF/02, Metodi e didattiche delle attività sportive</option>
            <option value="M-FIL/01">M-FIL/01, Filosofia teoretica</option>
            <option value="M-FIL/02">M-FIL/02, Logica e filosofia della scienza</option>
            <option value="M-FIL/03">M-FIL/03, Filosofia morale</option>
            <option value="M-FIL/04">M-FIL/04, Estetica</option>
            <option value="M-FIL/05">M-FIL/05, Filosofia e teoria dei linguaggi</option>
            <option value="M-FIL/06">M-FIL/06, Storia della filosofia</option>
            <option value="M-FIL/07">M-FIL/07, Storia della filosofia antica</option>
            <option value="M-FIL/08">M-FIL/08, Storia della filosofia medievale</option>
            <option value="M-GGR/01">M-GGR/01, Geografia</option>
            <option value="M-GGR/02">M-GGR/02, Geografia economico-politica</option>
            <option value="M-PED/01">M-PED/01, Pedagogia generale e sociale</option>
            <option value="M-PED/02">M-PED/02, Storia della pedagogia</option>
            <option value="M-PED/03">M-PED/03, Didattica e pedagogia speciale</option>
            <option value="M-PED/04">M-PED/04, Pedagogia sperimentale</option>
            <option value="M-PSI/01">M-PSI/01, Psicologia generale</option>
            <option value="M-PSI/02">M-PSI/02, Psicobiologia e psicologia fisiologica</option>
            <option value="M-PSI/03">M-PSI/03, Psicometria</option>
            <option value="M-PSI/04">M-PSI/04, Psicologia dello sviluppo e psicologia dell'educazione</option>
            <option value="M-PSI/05">M-PSI/05, Psicologia sociale</option>
            <option value="M-PSI/06">M-PSI/06, Psicologia del lavoro e delle organizzazioni</option>
            <option value="M-PSI/07">M-PSI/07, Psicologia dinamica</option>
            <option value="M-PSI/08">M-PSI/08, Psicologia clinica</option>
            <option value="M-STO/01">M-STO/01, Storia medievale</option>
            <option value="M-STO/02">M-STO/02, Storia moderna</option>
            <option value="M-STO/03">M-STO/03, Storia dell'europa orientale</option>
            <option value="M-STO/04">M-STO/04, Storia contemporanea</option>
            <option value="M-STO/05">M-STO/05, Storia della scienza e delle tecniche</option>
            <option value="M-STO/06">M-STO/06, Storia delle religioni</option>
            <option value="M-STO/07">M-STO/07, Storia del cristianesimo e delle chiese</option>
            <option value="M-STO/08">M-STO/08, Archivistica  bibliografia e biblioteconomia </option>
            <option value="M-STO/09">M-STO/09, Paleografia</option>
            <option value="MAT/01">MAT/01, Logica matematica</option>
            <option value="MAT/02">MAT/02, Algebra</option>
            <option value="MAT/03">MAT/03, Geometria</option>
            <option value="MAT/04">MAT/04, Matematiche complementari</option>
            <option value="MAT/05">MAT/05, Analisi matematica</option>
            <option value="MAT/06">MAT/06, Probabilità e statistica matematica</option>
            <option value="MAT/07">MAT/07, Fisica matematica</option>
            <option value="MAT/08">MAT/08, Analisi numerica</option>
            <option value="MAT/09">MAT/09, Ricerca operativa</option>
            <option value="MED/01">MED/01, Statistica medica</option>
            <option value="MED/02">MED/02, Storia della medicina</option>
            <option value="MED/03">MED/03, Genetica medica</option>
            <option value="MED/04">MED/04, Patologia generale</option>
            <option value="MED/05">MED/05, Patologia clinica</option>
            <option value="MED/06">MED/06, Oncologia medica</option>
            <option value="MED/07">MED/07, Microbiologia e microbiologia clinica</option>
            <option value="MED/08">MED/08, Anatomia patologica</option>
            <option value="MED/09">MED/09, Medicina interna</option>
            <option value="MED/10">MED/10, Malattie dell'apparato respiratorio</option>
            <option value="MED/11">MED/11, Malattie dell'apparato cardiovascolare</option>
            <option value="MED/12">MED/12, Gastroenterologia</option>
            <option value="MED/13">MED/13, Endocrinologia</option>
            <option value="MED/14">MED/14, Nefrologia</option>
            <option value="MED/15">MED/15, Malattie del sangue</option>
            <option value="MED/16">MED/16, Reumatologia</option>
            <option value="MED/17">MED/17, Malattie infettive</option>
            <option value="MED/18">MED/18, Chirurgia generale</option>
            <option value="MED/19">MED/19, Chirurgia plastica</option>
            <option value="MED/20">MED/20, Chirurgia pediatrica e infantile</option>
            <option value="MED/21">MED/21, Chirurgia toracica</option>
            <option value="MED/22">MED/22, Chirurgia vascolare</option>
            <option value="MED/23">MED/23, Chirurgia cardiaca</option>
            <option value="MED/24">MED/24, Urologia</option>
            <option value="MED/25">MED/25, Pschiatria</option>
            <option value="MED/26">MED/26, Neurologia</option>
            <option value="MED/27">MED/27, Neurochirurgia</option>
            <option value="MED/28">MED/28, Malattie odontostomatologiche</option>
            <option value="MED/29">MED/29, Chirurgia maxillofacciale</option>
            <option value="MED/30">MED/30, Malattie apparato visivo</option>
            <option value="MED/31">MED/31, Otorinolaringoiatria</option>
            <option value="MED/32">MED/32, Audiologia</option>
            <option value="MED/33">MED/33, Malattie apparato locomotore</option>
            <option value="MED/34">MED/34, Medicina fisica e riabilitativa</option>
            <option value="MED/35">MED/35, Malattie cutanee e veneree</option>
            <option value="MED/36">MED/36, Diagnostica per immagini e radioterapia</option>
            <option value="MED/37">MED/37, Neuroradiologia</option>
            <option value="MED/38">MED/38, Pediatria generale e specialistica</option>
            <option value="MED/39">MED/39, Neuropsichiatria infantile</option>
            <option value="MED/40">MED/40, Ginecologia e ostetricia</option>
            <option value="MED/41">MED/41, Anestesiologia</option>
            <option value="MED/42">MED/42, Igiene generale e applicata</option>
            <option value="MED/43">MED/43, Medicina legale</option>
            <option value="MED/44">MED/44, Medicina del lavoro</option>
            <option value="MED/45">MED/45, Scienze infermieristiche generali  cliniche e pediatriche </option>
            <option value="MED/46">MED/46, Scienze tecniche di medicina di laboratorio</option>
            <option value="MED/47">MED/47, Scienze infermieristiche ostetrico-ginecologiche</option>
            <option value="MED/48">MED/48, Scienze infermieristiche e tecniche neuro-psichiatriche e riabilitatve </option>
            <option value="MED/49">MED/49, Scienze tecniche dietetiche applicate</option>
            <option value="MED/50">MED/50, Scienze tecniche mediche applicate</option>
            <option value="SECS-P/01">SECS-P/01, Economia politica</option>
            <option value="SECS-P/02">SECS-P/02, Politica economica</option>
            <option value="SECS-P/03">SECS-P/03, Scienza delle finanze</option>
            <option value="SECS-P/04">SECS-P/04, Storia del pensiero economico</option>
            <option value="SECS-P/05">SECS-P/05, Econometria</option>
            <option value="SECS-P/06">SECS-P/06, Economia applicata</option>
            <option value="SECS-P/07">SECS-P/07, Economia aziendale</option>
            <option value="SECS-P/08">SECS-P/08, Economia e gestione delle imprese</option>
            <option value="SECS-P/09">SECS-P/09, Finanza aziendale</option>
            <option value="SECS-P/10">SECS-P/10, Organizzazione aziendale</option>
            <option value="SECS-P/11">SECS-P/11, Economia degli intermediari finanziari</option>
            <option value="SECS-P/12">SECS-P/12, Storia economica</option>
            <option value="SECS-P/13">SECS-P/13, Scienze merceologiche</option>
            <option value="SECS-S/01">SECS-S/01, Statistica</option>
            <option value="SECS-S/02">SECS-S/02, Statistica per la ricerca sperimentale e tecnologica</option>
            <option value="SECS-S/03">SECS-S/03, Statistica economica</option>
            <option value="SECS-S/04">SECS-S/04, Demografia</option>
            <option value="SECS-S/05">SECS-S/05, Statistica sociale</option>
            <option value="SECS-S/06">SECS-S/06, Metodi matematici dell'economia e delle scienze attuariali e finaziarie</option>
            <option value="SPS/01">SPS/01, Filosofia politica</option>
            <option value="SPS/02">SPS/02, Storia delle dottrine politiche</option>
            <option value="SPS/03">SPS/03, Storia delle istituzioni politiche</option>
            <option value="SPS/04">SPS/04, Scienza politica</option>
            <option value="SPS/05">SPS/05, Storia e istituzioni delle americhe</option>
            <option value="SPS/06">SPS/06, Storia delle relazioni internazionali</option>
            <option value="SPS/07">SPS/07, Sociologia generale</option>
            <option value="SPS/08">SPS/08, Sociologia dei processi culturali e comunicativi</option>
            <option value="SPS/09">SPS/09, Sociologia dei processi economici e del lavoro</option>
            <option value="SPS/10">SPS/10, Sociologia dell'ambiente e del territorio</option>
            <option value="SPS/11">SPS/11, Sociologia dei fenomeni politici</option>
            <option value="SPS/12">SPS/12, Sociologia giuridica  della devianza e mutamento sociale </option>
            <option value="SPS/13">SPS/13, Storia e istituzioni dell'africa</option>
            <option value="SPS/14">SPS/14, Storia e istituzioni dell'asia</option>
            <option value="VET/01">VET/01, Anatomia degli animali domestici</option>
            <option value="VET/02">VET/02, Fisiologia veterinaria</option>
            <option value="VET/03">VET/03, Patologia generale e anatomia patologica veterinaria</option>
            <option value="VET/04">VET/04, Ispezione degli alimenti di origine animale</option>
            <option value="VET/05">VET/05, Malattie infettive degli animali domestici</option>
            <option value="VET/06">VET/06, Parassitologia e malattie parassitarie degli animali</option>
            <option value="VET/07">VET/07, Farmacologia e tossicologia veterinaria</option>
            <option value="VET/08">VET/08, Clinica medica veterinaria</option>
            <option value="VET/09">VET/09, Clinica chirurgica veterinaria</option>
            <option value="VET/10">VET/10, Clinica ostetrica e ginecologia veterinaria</option>
          </select>
        </div>
        <div class="form-group col-md-5">
            <label for="materia_nome">Insegnamento</label>
            <input type="text" class="form-control" id="materia_nome" name="materia_nome">
          </div>
        <div class="form-group col-md-5">
          <label for="insegnamento_prof">Docente</label>
          <input type="text" class="form-control" id="insegnamento_prof" name="insegnamento_prof" required>
        </div>
        <div class="form-group col-md-5">
          <label for="prof_id">prof_id</label>
          <input type="text" size="10" class="form-control" id="prof_id" name="prof_id" placeholder="">
        </div>
        <div class="form-group col-md-5">
          <label for="insegnamento_id">insegnamento_id</label>
          <input type="text" size="10" class="form-control" id="insegnamento_id" name="insegnamento_id" placeholder="">
        </div>
        <div class="form-group col-md-3">
          <label for="email">email</label>
          <input type="text" class="form-control" id="email" name="email" placeholder="">
        </div>
        <div class="form-group col-md-3">
          <label for="indirizzo">Indirizzo</label>
          <input type="text" class="form-control" id="indirizzo" name="indirizzo" placeholder="">
        </div>
      </div>
      <div class="row">
      <div class="form-group col-md-2">
        <label for="isbn">ISBN</label>
        <input type="text" class="form-control" id="isbn" name="isbn">
      </div>
     
      <div class="form-group col-md-4">
          <label for="titolo">Titolo</label>
          <input type="text" class="form-control" id="titolo" name="titolo" placeholder="">
        </div>
      <div class="form-group col-md-3">
        <label for="data">Data</label>
        <input type="text" class="form-control" id="data" name="data" placeholder="YYYY-MM-DD">
      </div>
      </div>
      <button type="submit" id="addrow" class="btn btn-primary mb-5 mt-2">
        <i class="bi bi-plus-circle"></i> Aggiungi riga</button>
      </form>

  
    <script>
        
        var apiUrl = "/gestione_docenti";
        //$(document).ready(function () {
            // Carica dati nella tabella
            //var table = $('#dataTable').DataTable({
              var table = new DataTable('#dataTable', {
                ajax: '/gestione_docenti/data',
                columns: [
                    { data: "rowid" },
                    { data: "uni_cod", render: createEditableField },
                    { data: "facolta", render: createEditableField },
                    { data: "materia_ssd_cod", render: createEditableField },
                    { data: "materia_nome", render: createEditableField },
                    { data: "insegnamento_prof", render: createEditableField },
                    { data: "insegnamento_prof_www", render: createEditableField },
                    { data: "prof_id", render: createEditableField },
                    { data: "insegnamento_id", render: createEditableField },
                    { data: "email", render: createEditableField },
                    { data: "indirizzo", render: createEditableField },
                    { data: "citta", render: createEditableField },
                    { data: "telefono", render: createEditableField },
                    { data: "note", render: createEditableField },
                    { data: "isbn", render: createEditableField },
                    { data: "titolo", render: createEditableField },
                    { data: "data", render: createEditableField },
                    {
                        data: null,
                        render: function (data, type, row) {
                            return `
                            <button class="btn btn-danger btn-sm" data-toggle="tooltip" data-placement="left" title="Cancella" 
        onclick="deleteRow(${row.rowid})">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-x-circle" viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708"/>
          </svg>
        </button>
        <button class="btn btn-primary btn-sm" data-toggle="tooltip" data-placement="left" title="Salva" onclick="saveRow(${row.rowid})">
          <svg xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
            <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0"/>
            <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
          </svg>
        </button>`;
                        }
                    }                 
                ],
                paging: true,
                select: true,
                layout: {
                    topEnd: {
                        buttons: ['showSelected']
                        }
                        //topEnd: null
                    },
                  
                language: {
                      url: 'https://cdn.datatables.net/plug-ins/2.1.8/i18n/it-IT.json',
                  }
                });
              
            // Crea un campo editabile
            function createEditableField(data, type, row) {
              if (data === null) {
                return `<input type="text" value="" data-id="${row.rowid}" class="toedit" readonly="readonly" />`;
              } else {
                return `<input type="text" value="${data}" data-id="${row.rowid}" class="toedit" readonly="readonly" />`;
            }}

            // Elimina una riga
            window.deleteRow = function (rowid) {
                $.ajax({
                    url: `${apiUrl}/${rowid}`,
                    type: "DELETE",
                    success: function () {
                        alert("La riga è stata cancellata!");
                        table.ajax.reload();
                    },
                    error: function () {
                        alert("Non è possibile cancellare la riga.");
                    }
                });
            };

            // Salva le modifiche
            window.saveRow = function (rowid) {
                const row = $(`#dataTable tbody tr input[data-id="${rowid}"]`).closest("tr");
                const updatedRow = {
                    rowid: rowid,
                    uni_cod: row.find("input").eq(0).val(),
                    facolta: row.find("input").eq(1).val(),
                    materia_ssd_cod: row.find("input").eq(2).val(),
                    materia_nome: row.find("input").eq(3).val(),
                    insegnamento_prof: row.find("input").eq(4).val(),
                    insegnamento_prof_www: row.find("input").eq(5).val(),
                    prof_id: parseInt(row.find("input").eq(6).val()),
                    insegnamento_id: parseInt(row.find("input").eq(7).val()),
                    email: row.find("input").eq(8).val(),
                    indirizzo: row.find("input").eq(9).val(),
                    citta: row.find("input").eq(10).val(),
                    telefono: row.find("input").eq(11).val(),
                    note: row.find("input").eq(12).val(),
                    isbn: row.find("input").eq(13).val(),
                    titolo: row.find("input").eq(14).val(),
                    data: row.find("input").eq(15).val()
                };

                $.ajax({
                    url: `${apiUrl}/${rowid}`,
                    type: "PUT",
                    contentType: "application/json",
                    data: JSON.stringify(updatedRow),
                    success: function (response) {
                        alert("Riga correttamente aggiornata!");
                    },
                    error: function () {
                        alert("Non è stato possibile aggiornare la riga!");
                    }
                });
            };

       // });    
        $("table").on("focus", "input", function(){
            $(this)
            .prop("readonly", false)
            .removeClass("toedit");
        });

        $("table").on("blur",  "input", function(){
            $(this)
            .prop("readonly", true)
            .addClass("toedit")
            .text($(this).val());
        });

        $("table").on("click", "td", function(){
            $(this).children().focus();
        });
    </script>
    

{% endblock %}