{% extends "base.html" %}
{% block content %}
<div hx-ext="response-targets">
  <div class="row">
    
      <h3>
        Nuove adozioni </h3>
        </div>
      
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Informazioni sulla ricerca</h5>
              <ol>
                <li class="h6">Questa ricerca può essere effettuata solo se vi sono dati per l'anno accademico cercato e per quello precedente.</li>
                <li class="h6">Inserire l'anno di riferimento, le adozioni trovate saranno nuove rispetto all'anno precedente, al docente e alla laurea.</li>
                <li class="h6">Scegliere quindi l'elemento di riferimento per le adozioni: l'editore, il corso di laurea, il docente o l'isbn.
                Non si prendono in considerazione i curricula, gli insegnamenti e i moduli.</li>
                <li class="h6">In questa tabella non si prendono in considerazione gli insegnamenti, perché irrilevanti 
                  rispetto al numero di studenti: numero conosciuto solo per gli iscritti al primo anno di laurea. Una nuova
                adozione all'interno dello stesso corso di laurea è probabile che non modifichi il numero degli studenti interessati all'acquisto del volume.
                </li>
                <li class="h6"> Ricordiamo che sul database <a href="https://almalibri.it">Almalibri</a> la query <a href="https://www.almalibri.it/ricerca/adozioni/confermate/">Nuove adozioni</a> considera anche l'insegnamento e le eventuali nuove edizioni dello stesso volume. 
                 Si veda la guida a <a href="https://www.almalibri.it/guida/conferma_adozioni">Adozioni confermate, perse e nuove</a> per maggiori dettagli.</li>
        </ol>
        </div>
        </div>
          <p class="htmx-indicator">
            <img src="/static/img/bars.svg" width="30"/> attendere prego...
          </p>
     
 
 
<form hx-post="/nuove_adozioni"
  hx-encoding='multipart/form-data'
  hx-target="#carica_dati"
  hx-indicator=".htmx-indicator"
  hx-target-error="#any-errors"
  hx-trigger="submit">

        <div class="row">
          
          <div class="form-group col-md-2">
            <label for="a_a">Anno Accademico</label>
            <input type="text" class="form-control" id="a_a" name="a_a"  required>
          </div>
          <div class="form-group col-md-5">
            <label for="laurea_nome">Corso di Laurea</label>
            <input type="text" class="form-control" id="laurea_nome" name="laurea_nome">
          </div>
        </div>
        
        <div class="row">
          <div class="form-group col-md-2">
            <label for="laurea_tipo">Tipo di Laurea</label>
            <select id="laurea_tipo" name="laurea_tipo" class="form-select form-select-sm">
                <option selected></option>
                <option value="L">Laurea triennale</option>
                <option value="LM">Laurea magistrale</option>
                <option value="LMCU">Laurea magistrale a ciclo unico</option>
              </select>
          </div>
          <div class="form-group col-md-2">
            <label for="laurea_classe_cod">Codice Corso di Laurea</label>
            <select id="laurea_classe_cod" name="laurea_classe_cod" class="form-select form-select-sm">
              <option selected></option>
              <option value="L/DS">L/DS Scienze della Difesa e della Sicurezza</option>
                <option value="L/GASTR">L/GASTR Scienze culture e politiche della gastronomia</option>
                        <option value="L/SC">L/SC Scienze Criminologiche e della Sicurezza</option>
                            <option value="L/SNT1">L/SNT1 Professioni Sanitarie Infermieristiche e Ostetrica</option>
                                <option value="L/SNT2">L/SNT2 Professioni Sanitarie della Riabilitazione</option>
                                    <option value="L/SNT3">L/SNT3 Professioni Sanitarie Tecniche</option>
                                        <option value="L/SNT4">L/SNT4 Professioni Sanitarie della Prevenzione</option>
                                            <option value="L-1">L-1 Beni Culturali</option>
                                                <option value="L-10">L-10 Lettere</option>
                                                    <option value="L-11">L-11 Lingue e Culture Moderne</option>
                                                        <option value="L-12">L-12 Mediazione Linguistica</option>
                                                            <option value="L-13">L-13 Scienze Biologiche</option>
                                                                <option value="L-14">L-14 Scienze dei Servizi Giuridici</option>
                                                                    <option value="L-15">L-15 Scienze del Turismo</option>
                                                                        <option value="L-16">L-16 Scienze dell Amministrazione e dell Organizzazione</option>
                                                                            <option value="L-17">L-17 Scienze dell Architettura</option>
                                                                                <option value="L-18">L-18 Scienze dell Economia e della Gestione Aziendale</option>
                                                                                    <option value="L-19">L-19 Scienze dell Educazione e della Formazione</option>
                                                                                    <option value="L-2">L-2 Biotecnologie</option>
                                                                                    <option value="L-20">L-20 Scienze della Comunicazione</option>
                                                                                    <option value="L-21">L-21 Scienze della Pianificazione Territoriale Urbanis</option>
                                                                                    <option value="L-22">L-22 Scienze delle Attivit+á Motorie e Sportive</option>
                                                                                    <option value="L-23">L-23 Scienze e Tecniche dell Edilizia</option>
                                                                                    <option value="L-24">L-24 Scienze e Tecniche Psicologiche</option>
                                                                                    <option value="L-25">L-25 Scienze e Tecnologie Agrarie e Forestali</option>
                                                                                    <option value="L-26">L-26 Scienze e Tecnologie Agro Alimentari</option>
                                                                                    <option value="L-27">L-27 Scienze e Tecnologie Chimiche</option>
                                                                                    <option value="L-28">L-28 Scienze e Tecnologie della Navigazione</option>
                                                                                    <option value="L-29">L-29 Scienze e Tecnologie Farmaceutiche</option>
                                                                                    <option value="L-3">L-3 Discipline delle Arti Figurative Musica Spett Moda</option>
                                                                                    <option value="L-30">L-30Scienze e Tecnologie Fisiche</option>
                                                                                    <option value="L-31">L-31 Scienze e Tecnologie Informatiche</option>
                                                                                    <option value="L-32">L-32 Scienze e Tecnologie per l Ambiente e la Natura</option>
                                                                                    <option value="L-33">L-33 Scienze Economiche</option>
                                                                                    <option value="L-34">L-34 Scienze Geologiche</option>
                                                                                    <option value="L-35">L-35 Scienze Matematiche</option>
                                                                                    <option value="L-36">L-36 Scienze Politiche e delle Relazioni Internazionali</option>
                                                                                    <option value="L-37">L-37 Scienze Sociali per la Cooperazione Sviluppo Pace</option>
                                                                                    <option value="L-38">L-38 Scienze Zootecniche Tecnologie Produzioni Animali</option>
                                                                                    <option value="L-39">L-39 Servizio Sociale</option>
                                                                                    <option value="L-39/L-40">L-39/L-40 Interclasse L39 Servizio Sociale L40 Sociologia</option>
                                                                                    <option value="L-4">L-4 Disegno Industriale</option>
                                                                                    <option value="L-40">L-40 Sociologia</option>
                                                                                    <option value="L-41">L-41 Statistica</option>
                                                                                    <option value="L-42">L-42 Storia</option>
                                                                                    <option value="L-43">L-43 Diagnostica per conservazione dei beni culturali</option>
                                                                                    <option value="L-5">L-5 Filosofia</option>
                                                                                    <option value="L-6">L-6 Geografia</option>
                                                                                    <option value="L-7">L-7 Ingegneria Civile e Ambientale</option>
                                                                                    <option value="L-8">L-8 Ingegneria dell Informazione</option>
                                                                                    <option value="L-9">L-9 Ingegneria Industriale</option>
                                                                                    <option value="LM/DS">LM/DS Scienze della Difesa e della Sicurezza</option>
                                                                                    <option value="LM/GASTR">LM/GASTR Scienze economiche e sociali della gastronomia</option>
                                                                                    <option value="LM/SC">LM/SC Scienze Criminologiche Investigazione e Sicurezza</option>
                                                                                    <option value="LM/SC-GIUR">LM/SC-GIUR Scienze giuridiche</option>
                                                                                    <option value="LM/SNT1">LM/SNT1 Scienze Infermieristiche e Ostetriche</option>
                                                                                    <option value="LM/SNT2">LM/SNT2 Scienze Professioni Sanitarie della Riabilitazione</option>
                                                                                    <option value="LM/SNT3">LM/SNT3 Scienze Professioni Sanitarie Tecniche</option>
                                                                                    <option value="LM/SNT4">LM/SNT4 Scienze Professioni Sanitarie della Prevenzione</option>
                                                                                    <option value="LM-1">LM-1 Antropologia culturale ed etnologia</option>
                                                                                    <option value="LM-10">LM-10 Conservazione dei beni architettonici e ambientali</option>
                                                                                    <option value="LM-11">LM-11 Scienze per la conservazione dei beni culturali</option>
                                                                                    <option value="LM-12">LM-12 Design</option>
                                                                                    <option value="LM-13">LM-13 Farmacia e farmacia industriale</option>
                                                                                    <option value="LM-14">LM-14 Filologia moderna</option>
                                                                                    <option value="LM-15">LM-15 Filologia letterature e storia dell antichita</option>
                                                                                    <option value="LM-16">LM-16 Finanza</option>
                                                                                    <option value="LM-17">LM-17 Fisica</option>
                                                                                    <option value="LM-18">LM-18 Informatica</option>
                                                                                    <option value="LM-19">LM-19 Informazione e sistemi editoriali</option>
                                                                                    <option value="LM-2">LM-2 Archeologia</option>
                                                                                    <option value="LM-20">LM-20 Ingegneria aerospaziale e astronautica</option>
                                                                                    <option value="LM-21">LM-21 Ingegneria biomedica</option>
                                                                                    <option value="LM-22">LM-22 Ingegneria chimica</option>
                                                                                    <option value="LM-23">LM-23 Ingegneria civile</option>
                                                                                    <option value="LM-24">LM-24 Ingegneria dei sistemi edilizi</option>
                                                                                    <option value="LM-25">LM-25 Ingegneria dell automazione</option>
                                                                                    <option value="LM-26">LM-26 Ingegneria della sicurezza</option>
                                                                                    <option value="LM-27">LM-27,Ingegneria delle telecomunicazioni</option>
                                                                                    <option value="LM-28">LM-28,Ingegneria elettrica</option>
                                                                                    <option value="LM-29">LM-29,Ingegneria elettronica</option>
                                                                                    <option value="LM-3">LM-3,Architettura del paesaggio</option>
                                                                                    <option value="LM-30">LM-30,Ingegneria energetica e nucleare</option>
                                                                                    <option value="LM-31">LM-31,Ingegneria gestionale</option>
                                                                                    <option value="LM-32">LM-32,Ingegneria informatica</option>
                                                                                    <option value="LM-33">LM-33,Ingegneria meccanica</option>
                                                                                    <option value="LM-34">LM-34,Ingegneria navale</option>
                                                                                    <option value="LM-35">LM-35,Ingegneria per l ambiente e il territorio</option>
                                                                                    <option value="LM-36">LM-36,Lingue e letterature dell Africa e dell Asia</option>
                                                                                    <option value="LM-37">LM-37,Lingue e letterature moderne europee e americane</option>
                                                                                    <option value="LM-38">LM-38,Lingue moderne comunicazione e cooperazione</option>
                                                                                    <option value="LM-39">LM-39,Linguistica</option>
                                                                                    <option value="LM-4">LM-4,Architettura e ingegneria edile architettura</option>
                                                                                    <option value="LM-40">LM-40,Matematica</option>
                                                                                    <option value="LM-41">LM-41,Medicina e Chirurgia</option>
                                                                                    <option value="LM-42">LM-42,Medicina Veterinaria</option>
                                                                                    <option value="LM-43">LM-43,Metodologie informatiche discipline umanistiche</option>
                                                                                    <option value="LM-44">LM-44,Modellistica matematico fisica per l ingegneria</option>
                                                                                    <option value="LM-45">LM-45,Musicologia e beni musicali</option>
                                                                                    <option value="LM-46">LM-46,Odontoiatria e protesi dentaria</option>
                                                                                    <option value="LM-47">LM-47,Organizzazione gestione servizi sport att motorie</option>
                                                                                    <option value="LM-48">LM-48,Pianificazione territoriale urbanistica ambientale</option>
                                                                                    <option value="LM-49">LM-49,Progettazione e gestione dei sistemi turistici</option>
                                                                                    <option value="LM-4CU">LM-4CU,Architettura e ingegneria edile architettura</option>
                                                                                    <option value="LM-5">LM-5,Archivistica e biblioteconomia</option>
                                                                                    <option value="LM-50">LM-50,Programmazione e gestione dei servizi educativi</option>
                                                                                    <option value="LM-51">LM-51,Psicologia</option>
                                                                                    <option value="LM-52">LM-52,Relazioni internazionali</option>
                                                                                    <option value="LM-53">LM-53,Scienza e ingegneria dei materiali</option>
                                                                                    <option value="LM-54">LM-54,Scienze chimiche</option>
                                                                                    <option value="LM-55">LM-55,Scienze cognitive</option>
                                                                                    <option value="LM-56">LM-56,Scienze dell economia</option>
                                                                                    <option value="LM-57">LM-57,Scienze dell educazione adulti formazione continua</option>
                                                                                    <option value="LM-58">LM-58,Scienze dell universo</option>
                                                                                    <option value="LM-59">LM-59,Scienze della comunicazione impresa e pubblicita</option>
                                                                                    <option value="LM-6">LM-6,Biologia</option>
                                                                                    <option value="LM-60">LM-60,Scienze della natura</option>
                                                                                    <option value="LM-61">LM-61,Scienze della nutrizione umana</option>
                                                                                    <option value="LM-62">LM-62,Scienze della politica</option>
                                                                                    <option value="LM-63">LM-63,Scienze delle pubbliche amministrazioni</option>
                                                                                    <option value="LM-64">LM-64,Scienze delle religioni</option>
                                                                                    <option value="LM-65">LM-65,Scienze dello spettacolo e produzione multimediale</option>
                                                                                    <option value="LM-66">LM-66,Sicurezza informatica</option>
                                                                                    <option value="LM-67">LM-67,Scienze e tecniche att motorie prev e adattate</option>
                                                                                    <option value="LM-68">LM-68,Scienze e tecniche dello sport</option>
                                                                                    <option value="LM-69">LM-69,Scienze e tecnologie agrarie</option>
                                                                                    <option value="LM-7">LM-7,Biotecnologie agrarie</option>
                                                                                    <option value="LM-70">LM-70,Scienze e tecnologie alimentari</option>
                                                                                    <option value="LM-71">LM-71,Scienze e tecnologie della chimica industriale</option>
                                                                                    <option value="LM-72">LM-72,Scienze e tecnologie della navigazione (80/M)</option>
                                                                                    <option value="LM-73">LM-73,Scienze e tecnologie forestali e ambientali</option>
                                                                                    <option value="LM-74">LM-74,Scienze e tecnologie geologiche</option>
                                                                                    <option value="LM-75">LM-75,Scienze e tecnologie ambiente e territorio</option>
                                                                                    <option value="LM-76">LM-76,Scienze economiche ambiente e cultura</option>
                                                                                    <option value="LM-77">LM-77,Scienze economico aziendali</option>
                                                                                    <option value="LM-78">LM-78,Scienze filosofiche</option>
                                                                                    <option value="LM-79">LM-79,Scienze geofisiche</option>
                                                                                    <option value="LM-8">LM-8,Biotecnologie industriali</option>
                                                                                    <option value="LM-80">LM-80,Scienze geografiche</option>
                                                                                    <option value="LM-81">LM-81,Scienze per la cooperazione allo sviluppo</option>
                                                                                    <option value="LM-82">LM-82,Scienze statistiche</option>
                                                                                    <option value="LM-83">LM-83,Scienze statistiche attuariali e finanziarie</option>
                                                                                    <option value="LM-84">LM-84,Scienze storiche</option>
                                                                                    <option value="LM-85">LM-85,Scienze pedagogiche</option>
                                                                                    <option value="LM-85 BIS">LM-85 BIS,Scienze della formazione primaria</option>
                                                                                    <option value="LM-86">LM-86,Scienze zootecniche e tecnologie animali</option>
                                                                                    <option value="LM-87">LM-87,Servizio sociale e politiche sociali</option>
                                                                                    <option value="LM-88">LM-88,Sociologia e ricerca sociale</option>
                                                                                    <option value="LM-89">LM-89,Storia dell arte</option>
                                                                                    <option value="LM-9">LM-9,Biotecnologie veterinarie e farmaceutiche</option>
                                                                                    <option value="LM-90">LM-90,Studi europei</option>
                                                                                    <option value="LM-91">LM-91,Tecniche e metodi per la società informazione</option>
                                                                                    <option value="LM-92">LM-92,Teorie della comunicazione</option>
                                                                                    <option value="LM-93">LM-93,Teorie e metodi E-Learning e media education</option>
                                                                                    <option value="LM-94">LM-94,Traduzione specialistica e interpretariato</option>
                                                                                    <option value="LMG/01">LMG/01,Giurisprudenza</option>
                                                                                    <option value="LMR/02">LMR/02,Conservazione e Restauro dei Beni Culturali</option>
                <option value="L-P01">L-P01,Professioni tecniche edilizia e territorio</option>
                <option value="L-P02">L-P02,Professioni tec agrarie alimentari e forestali</option>
                <option value="L-P03">L-P03,Professioni tec industriali e dell informazione</option>
            </select>
          </div>
        </div>
        <div class="row">
            <div class="form-group col-md-5">
              <label for="insegnamento_prof">Docente</label>
              <input type="text" class="form-control" id="insegnamento_prof" name="insegnamento_prof">
            </div>
            
          </div>
          <div class="row">
          <div class="form-group col-md-2">
            <label for="isbn">ISBN</label>
            <input type="text" class="form-control" id="isbn" name="isbn">
          </div>
         
          <div class="form-group col-md-4">
              <label for="titolo">Titolo</label>
              <input type="text" class="form-control" id="titolo" name="titolo" placeholder="">
            </div>
          <div class="form-group col-md-3">
            <label for="editore">Editore</label>
            <input type="text" class="form-control" id="editore" name="editore" placeholder="">
          </div>
          </div>
            <div class="mt-3"><button type="submit" class="btn btn-primary">Invio</button></div>
  </form>
      
      <div id="any-errors" class="alert h6" role="alert"></div>
      <div id="carica_dati">
      {% include 'partial_nuove_adozioni.html' %}
      </div>
    </div>
{% endblock %}
