<div id="modal" _="on closeModal add .closing then wait for animationend then remove me">
    <div class="modal-underlay" _="on click trigger closeModal"></div>
    <div class="modal-content">
        <h4>Adozioni di {{isbn}}</h4>
<table class="table table-bordered table-sm table-striped table-hover" style="font-size: 0.8rem;">
<thead>
<tr>
    <th scope="col">Università</th>
    <th scope="col">Laurea</th>
    <th scope="col">Insegnamento</th>
    <th scope="col">SSD</th>
    <th scope="col">Nome</th>
    <th scope="col">isbn</th>
    <th scope="col">Titolo</th>
    <th scope="col">Editore</th>
    </tr>
</thead>
<tbody>
    {% if adozioni|length > 0 %}
{% for item in adozioni %}
<tr class="editing table-primary">

<td>{{ item.uni_cod }}</td>
<td>{{ item.laurea_nome }}</td>
<td>{{ item.materia_nome }}</td>
<td>{{ item.materia_ssd_cod }}</td>
<td>{{ item.insegnamento_prof }}</td>
<td>{{ item.isbn }}</td>
<td>{{ item.titolo }}</td>
<td>{{ item.editore }}</td>
</tr>
{% endfor %}
{% else %}
<tr>
<td colspan="8">{{msg}}</td>
</tr>
{% endif %}
</table>
<button type="button" class="btn btn-warning btn-sm" _="on click trigger closeModal">Chiudi</button>
</div>
</div>