
     
      {% if adozioni|length == 0 %}
      <div id=""  class="table-responsive small" style="visibility: hidden;">

      {% else %}
      <div id="nuovi_dati"  class="text-start" style="visibility: visible;">
        <h3  class="mt-3 mb-0">Le adozioni</h3>
        <h5>Queste adozioni verranno conservate per le successive analisi. Potete proseguire scegliendo le <a href="/universita">università</a>,
        il <a href="/adozioni">settore disciplinare</a>, l'<a href="/insegnamenti">insegnamento</a>, i <a href="/docenti">docenti</a>. </h5>
        <p class="small">Le prime 5 adozioni caricate</p>
        <table class="table small table-striped table-sm">
          <thead>
            <tr>
              <th scope="col">uni_cod</th>
              <th scope="col">laurea_nome</th>
              <th scope="col">materia_nome</th>
              <th scope="col">materia_ssd_cod</th>
              <th scope="col">insegnamento_prof</th>
              <th scope="col">isbn</th>
              <th scope="col">titolo</th>
              <th scope="col">editore</th>
              <th scope="col">testo_obb</th>
            </tr>
          </thead>
          
          <tbody>
            {% for item in adozioni %}
              {% if loop.index <= 5 %}
              <tr>
                <td>{{ item.uni_cod }}</td>
                <td>{{ item.laurea_nome }}</td>
                <td>{{ item.materia_nome }}</td>
                <td>{{ item.materia_ssd_cod }} </td>
                <td> {{ item.insegnamento_prof }}</td>
                <td> {{ item.isbn }}</td>
                <td> {{ item.titolo }}</td>
                <td> {{ item.editore }}</td>
                <td> {{ item.testo_obb }}</td>
            </tr>
              {% endif %}
          {% endfor %}
           
          </tbody>
        </table>
      </div>
 {% endif %}
 
