{% if adozioni|length == 0 and msg_tpl==''%}
<div id=""  style="visibility: hidden;">

  {% elif msg_tpl and adozioni|length == 0 %}
  <div id=""  class="table-responsive small text-center" style="visibility: visible;">
  <h5>{{ msg_tpl }}</h5>
  </div>

  {% elif  adozioni|length > 0 %}
<div class="row" style="visibility: visible;">
  <div id=""  class="small">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Nuove adozioni</h5>
    <h6>In questa tabella si considera <i>nuova adozione</i> un isbn che compare associato a un docente o a un corso di laurea
       assente nell'anno precedente. 
     </h6>
  </div>
  </div>
  <table  class="table table-striped table-responsive" id="nuoveadozioni">
    <thead>
      <thead><tr><th colspan="3" id="nuoveadozioni2"><input placeholder="Cerca" _="on input
        show <tbody>tr/> in closest <table/>
          when its textContent.toLowerCase() contains my value.toLowerCase()"/>
        </th><th colspan="2"></th></tr></thead>
    </thead>
    
        <tr style="font-weight: bold;">
          <th scope="col">Università</th>
          <th scope="col">Laurea</th>
          <th scope="col">Docente</th>
          <th scope="col">ISBN</th>
          <th scope="col">Iscritti</th>
        </tr>
      </thead>
      
      <tbody>
  {% for item in adozioni %}
            <tr>
            <td>{{ item.uni_cod }}</td>
            <td>{{ item.laurea_nome }}</td>
            <td> {{ item.insegnamento_prof }}</td>
            <td> {{ item.isbn }}</td>
            <td>{{ item.laurea_matricole }}</td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    
  </div>
  
  <div class="row mt-3">
  <p>Se la selezione è corretta puoi scaricare tutti i dati</p>
    <form method="get" action="/csv_nuove_adozioni">
        <button type="submit" class="btn btn-success btn-sm">Scarica tutti i records</button>
     </form>
 
  </div>
 
</div>
</div>
{% endif %}