{% extends "base.html" %}

    {% block sidebar %}
   <style>
    /***** MODAL DIALOG ****/
#modal {
	/* Underlay covers entire screen. */
	position: fixed;
	top:0px;
	bottom: 0px;
	left:0px;
	right:0px;
	background-color:rgba(0,0,0,0.5);
	z-index:1000;

	/* Flexbox centers the .modal-content vertically and horizontally */
	display:flex;
	flex-direction:column;
	align-items:center;

	/* Animate when opening */
	animation-name: fadeIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

 #modal > .modal-underlay {
	/* underlay takes up the entire viewport. This is only
	required if you want to click to dismiss the popup */
	position: absolute;
	z-index: -1;
	top:0px;
	bottom:0px;
	left: 0px;
	right: 0px; 
}

#modal > .modal-content {
	/* Position visible dialog near the top of the window */
	margin-top:10vh;

	/* Sizing for visible dialog */
	/*width:80%;*/
	max-width:800px;
  min-height: 200px;
  overflow-y: scroll;

	/* Display properties for visible dialog*/
	border:solid 1px #999;
	border-radius:8px;
	box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.3);
	background-color:white;
	padding:20px;

	/* Animate when opening */
	animation-name:zoomIn;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing {
	/* Animate when closing */
	animation-name: fadeOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

#modal.closing > .modal-content {
	/* Animate when closing */
	animation-name: zoomOut;
	animation-duration:150ms;
	animation-timing-function: ease;
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes zoomIn {
	0% {transform: scale(0.9);}
	100% {transform: scale(1);}
}

@keyframes zoomOut {
	0% {transform: scale(1);}
	100% {transform: scale(0.9);}
}
   </style>

    <div class="container-fluid mt-0">
      <div class="row">
        <div class="sidebar border border-right col-md-3 col-lg-2 p-0 bg-body-tertiary">
           
            <div class="offcanvas-body d-md-flex flex-column p-0 pt-lg-3 overflow-y-auto">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="/promozione_docenti">
                    <i class="bi bi-download h5"></i>
                    Scarica file
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="/copiesaggio">
                    <i class="bi bi-house h5" ></i>
                    Dashboard docenti
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="/gestione_docenti">
                    <i class="bi bi-clipboard2-data h5"></i>
                    Gestione docenti
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="/router_uploadfile">
                    <i class="bi bi-upload h5"></i>
                    Carica file docenti
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="/router_cerca_docenti">
                    <i class="bi bi-file-earmark-person h5"></i>
                    Selezione docenti
                  </a>
                </li>
              </ul>
    
              
    
              <hr class="border border-primary border-3 opacity-75">
    
              <ul class="nav flex-column mb-auto">
                <li class="nav-item" style="border-bottom:1px solid rgb(17, 112, 253);">
                  <a id="settings01" class="nav-link d-flex align-items-center gap-2" href=""
                  hx-get="/settings"
                  hx-target="this"
                  hx-swap="innerHTML">
                  <i class="bi bi-journal-x h5"></i>
                  Cancella le adozioni selezionate e i messaggi.
                  </a>               
                </li>
                <li class="nav-item" style="border-bottom:1px solid rgb(17, 112, 253);">
                  <a id="settings02" class="nav-link d-flex align-items-center gap-2" href=""
                  hx-get="/settings/delete"
                  hx-target="this"
                  hx-swap="innerHTML">
                  <i class="bi bi-trash2 h5"></i>
                  Cancella le adozioni caricate, le adozioni selezionate, i messaggi.
                  </a>               
                </li>
                <li class="nav-item" style="border-bottom:1px solid rgb(17, 112, 253);">
                  <a id="" class="nav-link d-flex align-items-center gap-2" href="/settings/deleteall">
                  <i class="bi bi-trash h5"></i>
                  Cancella i docenti selezionati, le adozioni caricate,
                   le adozioni selezionate, i messaggi e crea backup.
                  </a>               
                </li>
               
                <li class="nav-item" style="border-bottom:1px solid rgb(17, 112, 253);">
                  <a id="" class="nav-link d-flex align-items-center gap-2" href="/scarica_backup">
                  <i class="bi bi-database-down h5"></i>
                    Scarica backup
                  </a>               
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="/login">
                    <i class="bi bi-door-open h5"></i>
                    Login <br>
                  </a>
                  <div class="card" style="width: 16rem;">
                    <div class="card-body">
                      {% if user %} Utente collegato: {{ user.username }}
                  {% else %} Utente non collegato
                  {% endif %}
                  </div>
                  </div>
                  
                </li>
                <li class="nav-item">
                  <a class="nav-link d-flex align-items-center gap-2" href="/logout">
                    <i class="bi bi-door-closed h5"></i>
                    Logout
                  </a>
                </li>
                <hr class="border border-primary border-3 opacity-75">
                <li class="nav-item">
              
                  <!-- Collapsible card for messages -->
             <div class="card text-bg-light mb-3" style="max-width: 16rem;">
               <div class="card-header">
                 <h5>Selezioni effettuate</h5>
                 <button class="btn btn-outline-primary" type="button" data-bs-toggle="collapse" 
                 data-bs-target="#messageCollapse" aria-expanded="false" aria-controls="messageCollapse">
                   Mostra/Nascondi
                 </button>
               </div>
               <div id="messageCollapse" class="collapse">
                 <div class="card-body">
                   <p class="card-text" hx-ext="sse" sse-connect="/stream" sse-swap="message">
                     <!-- Messages will be displayed here -->
                   </p>
                 </div>
               </div>
             </div>
             <!-- End of collapsible card for messages -->
                 </li>
              </ul>
            </div>
            {% endblock %}
      


        {% block content %}

       
  <div hx-ext="response-targets">
      <div>
        
          <h3  class="mt-3 mb-0">Dashboard docenti</h3>
          {% if page|length == 0 %}
          <h4>Non vi sono dati da mostrare.</h4>
          <h6>Ritornate alla pagina <a href="/router_docenti">gestione docenti</a>, alla <a href="/router_cerca_docenti">selezione docenti</a> 
          oppure <a href="/router_uploadfile">caricate un nuovo file</a> dopo aver inserito le informazioni mancanti.</h6>
          
          {% endif %}
          <h6>Cliccando sul nome del docente si visualizzano, in una sottotabella, tutte le sue adozioni.
            Cliccando su un ISBN si visualizzano tutti i corsi (con qualunque docente) dove è adottato quel testo.</h6>
            <h6>Per modificare l'elenco dei saggi inviati si veda <a href="/gestione_docenti">Gestione docenti</a>.</h6>
           
            <div class="card mt-3" style="width: 70%;">
              <div class="card-body text-start">
                <h5 class="card-title text-center">Sommario</h5>
                
            <table class="table small">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Università</th>
                  <th scope="col">ISBN</th>
                  <th scope="col">SSD</th>
                  <th scope="col">Docenti</th>
                </tr>
              </thead>
              <tbody>
               
                <tr>
                  <th scope="row">Quantità</th>
                  <td>{{ data.1.uni_cod }}</td>
                  <td>{{ data.1.isbn  }}</td>
                  <td>{{ data.1.materia_ssd_cod }}</td>
                  <td>{{ data.1.insegnamento_prof  }}</td>
                </tr>
                <tr>
                  <th scope="row">Valori</th>
                  <td>{{ ', '.join(data.2.uni_cod) if data.2.uni_cod | length != 0 else "&mdash;"|safe }}</td>
                  <td>{{ data.2.isbn | replace("nan", "&mdash;"|safe) }}</td>
                  <td>{% if data.2.materia_ssd_cod %}
                    {{ data.2.materia_ssd_cod | join(", ") }}
                    {% else %} Nessun dato {% endif %}</td>
                  <td>{{ data.2.insegnamento_prof | replace("nan", "&mdash;"|safe) }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <h5 class="htmx-indicator">
          <img src="/static/img/bars.svg" width="30"/> attendere prego...
        </h5>
          <form id="saggi"
          hx-encoding='multipart/form-data'
          hx-post="/copiesaggio"
          hx-target="#partial_saggi"
          hx-indicator=".htmx-indicator"
          hx-target-error="#any-errors"
          hx-trigger="submit"
          >
            <table id="saggi_corretti"  class="table table-striped table-responsive small">
              <thead>
                <tr><th colspan="3" id="routerdashboard"><input placeholder="Cerca" _="on input
                  show <tbody>tr/> in closest <table/>
                    when its textContent.toLowerCase() contains my value.toLowerCase()"/>
                  </th></tr>
                  <tr>
                  
                    <th scope="col">Università</th>
                    <th scope="col">Facoltà</th>
                    <th scope="col">SSD</th>
                    <th scope="col">Insegnamento</th>
                    <th scope="col">Nome</th>
                    <th scope="col">prof_id</th>
                    <th scope="col">insegn_id</th>
                    <th scope="col">email</th>
                    <th scope="col">Indirizzo</th>
                    <th scope="col">Città</th>
                    <th scope="col">Telefono</th>
                    <th scope="col">Note</th>
                    <th scope="col">ISBN</th>
                    <th scope="col">Titolo</th>
                    <th scope="col">Data</th>
                    <th scope="col">selezione</th>
                  </tr>
              </thead>
              
              <tbody hx-target="closest tr" hx-swap="outerHTML">
              
                {% for item in page %}
              <tr>
                <td>{{ item.uni_cod if item.uni_cod }}</td>
                <td>{{ item.facolta if item.facolta }}</td>
                <td>{{ item.materia_ssd_cod if item.materia_ssd_cod }}</td>
                <td>{{ item.materia_nome if item.materia_nome }}</td>
                <td><a href="" hx-get="copiesaggio/prof/adozioni/{{item.insegnamento_prof}}" 
                   hx-target="body" hx-swap="beforeend" 
                   hx-indicator=".htmx-indicator">{{ item.insegnamento_prof if item.insegnamento_prof }}</a></td>
                <td>{{ item.prof_id|int if item.prof_id}}</td>
                <td>{{ item.insegnamento_id|int if item.insegnamento_id}}</td>
                <td>{{ item.email if item.email }}</td>
                <td>{{ item.indirizzo if item.indirizzo }}</td>
                <td>{{ item.citta if item.citta }}</td>
                <td>{{ item.telefono if item.telefono }}</td>
                <td>{{ item.note if item.note }}</td>
                <td><a href="" hx-get="copiesaggio/isbn/adozioni/{{item.isbn}}" 
                  hx-target="body" hx-swap="beforeend"  hx-indicator=".htmx-indicator">{{ item.isbn|int if item.isbn }}</td>
                <td>{{ item.titolo if item.titolo }}</td>
                <td>{{ item.data if item.data }}</td>
                <td><input type="checkbox" name="{{ item.insegnamento_prof }}"></td>
                </tr>
                {% endfor %}
              </tbody>

            </table>
            <button type="submit" class="btn btn-primary">Seleziona</button>
           </form>
          
 <div class="row" style="text-align: center;">
    <div class="col-2"></div>
    <div class="col-2">
    {% if page.has_previous %}
        <a class="btn btn-success btn-sm" href="?page=1">1</a>
        <a class="btn btn-success btn-sm" href="?page={{ page.previous_page_number }}">Precedente</a>
    {% endif %}
    </div>
    <div class="col-3">Pagina {{ page.number }} di {{ paginator.num_pages }} con {{ paginator.count }} record{% if paginator.count != 1 %}s{% endif %}</div>
    <div class="col-2">
    {% if page.has_next %}
        <a class="btn btn-success btn-sm" href="?page={{ page.next_page_number }}">Successiva</a>
        <a class="btn btn-success btn-sm" href="?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
    {% endif %}
    </div>
    <div class="col-2"></div>
    </div>
    <div id="partial_saggi">
      {% include 'partial_router_dashboard.html' %}
    </div>
      </div>
      <div id="any-errors" class="alert-danger h6" role="alert"></div>
      <hr />
      <div class="row mt-3">
        <p>Se vuoi aggiornare i docenti con un altro programma 
          puoi scaricare questi dati e ricaricarli in seguito utilizzando la pagina <a href="/router_uploadfile">Carica file docenti</a>. </p>
          <form method="get" action="/csv_docenti_router/corretti">
              <button type="submit" class="btn btn-success">Scarica tutti i records</button>
           </form>
       
      </div>
     
  </div>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script>
          $(document).ready(function () {     
              htmx.process(htmx.find("#saggi"));
          });
      </script>
        
        {% endblock %}
       
       