
<div class="tab-list" role="tablist">
	<button hx-get="/router_form_tab1"  role="tab" aria-selected="false" aria-controls="tab-content">Docenti</button>
	<button hx-get="/router_form_tab2" class="selected" role="tab" aria-selected="true" aria-controls="tab-content">Aggiornamento</button>
	
</div>

  <div class="row">
  
    <p>In questa pagina è possibile aggiornare il database dei docenti. Scaricare il file aggiornato (il nome del file
        è "docenti_anno accademico_semestre.csv").</p>
     <p> <img src="/static/img/bars.svg" width="30"/> attendere prego...
    </p>
    <form 
    id="form2"
    hx-encoding="multipart/form-data"
    hx-post="/router_form_aggiorna"
    hx-target="#aggiorna"
    hx-indicator=".htmx-indicator"
    hx-target-error="#any-errors"
    hx-trigger="submit"
    >
  <div class="form-group text-center">
    <div class="form-check form-check-inline ">
      <i class="bi bi-database-exclamation h4"></i>
      <input class="form-check-input" type="radio" id="inlineCheckbox1" name="inlineRadio" value="replace" required>
      <label class="form-check-label" for="inlineCheckbox1">Cancella e ricarica i dati</label>
    </div>
    <div class="form-check form-check-inline">
      <i class="bi bi-database-add h4"></i>
      <input class="form-check-input" type="radio" id="inlineCheckbox2" name="inlineRadio" value="append" required>
      <label class="form-check-label" for="inlineCheckbox2">Aggiungi nuovi dati</label>
    </div>
    <div class="form-check form-check-inline">
        <i class="bi bi-database-add h4"></i>
        <input class="form-check-input" type="radio" id="inlineCheckbox3" name="inlineRadio" value="merge" required>
        <label class="form-check-label" for="inlineCheckbox3">Aggiorna e aggiungi nuovi dati</label>
      </div>
    <div>
      
      <div class="input-group mb-3">
    <input class="form-control w-50" type="file" name="file" id="filedocenti">
    
      <span class="input-group-text" id="basic-addon1">Separatore</span>
      
    <select id="Separatore" name="Separatore" class="form-select form-select-sm" required>
          <option selected></option>
          <option value=",">,</option>
          <option value=";">;</option>
    </select>
    <div class="invalid-feedback">
      Inserire un separatore valido
    </div>
   </div>
  </div>
  </div>
  <button class="w-100 btn btn-lg btn-primary mt-3" type="submit" id="myBtn">Aggiorna</button> 
        </form>
   
    <div id="aggiorna">{% include 'partial_router_form_aggiorna.html' %}</div>
</div>