
{% extends "router_dashboard.html" %}
{% block content %}


<div class="container mt-5 text-center" style="width: 50%;">
  <h3 class="text-center">
    Carica un file csv <span class="text-body-secondary">con l'elenco dei saggi inviati</span> </h3>
    <i class="bi bi-filetype-csv h2"></i>
    <div class="card mt-3">
      <div class="card-body text-start">
        <h5 class="card-title">Prima di effettuare il caricamento</h5>
        <p class="card-text small">controllare che il file contenga esattamente
          solo questi campi: <br> 
          uni_cod, facolta, materia_ssd_cod, insegnamento_prof,
          insegnamento_prof_www, prof_id, insegnamento_id, email, indirizzo, citta, telefono, 
          note, isbn, titolo, data (di invio del saggio).<br />
        Se il file è stato compilato usando come template quello che è scaricabile dalla pagina <a href="/router_docenti">Gestione docenti</a>
      si può procedere tranquillamente.</p><p>Se si procede a un aggiornamento, i nuovi dati sostituiranno quelli già
        presenti individuando i docenti con l'università e il "prof_id". 
        Se il campo prof_id è vuoto l'applicazione provvede a inserire il prof_id più probabile. 
      Per maggiori informazioni si veda la <a href="/documentazione#individuare-i-docenti-con-nome-e-prof_id">documentazione</a>.</p>
      </p>
      <p>N.B. Questi dati verranno cancellati solo con il comando "Cancella i docenti selezionati,...". 
        I docenti con elaborazioni successive (ad esempio aggiungendo la mail) non saranno invece cancellabili, 
        se non intervenendo direttamente sul
        database (scaricabile come backup). Per maggiori dettagli su questa operazione contattate l'assistenza.</p>
      </div>
    </div>
   
    <div hx-ext="response-targets">
      
   
 <div class="form-group">
  <form id='form' 
  hx-encoding='multipart/form-data' 
  hx-post="/router_uploadfile"
  hx-target="#nuovi_dati_aggiornati"
  hx-indicator=".htmx-indicator"
  hx-target-error="#any-errors"
  hx-trigger="submit">

<div class="form-group text-center">
  <div class="form-check form-check-inline ">
    <i class="bi bi-database-exclamation h4"></i>
    <input class="form-check-input" type="radio" id="inlineCheckbox1" name="inlineRadio" value="replace" required>
    <label class="form-check-label" for="inlineCheckbox1"><b>Cancella</b> i docenti selezionati e ricarica i nuovi.</label>
  </div>
  <div class="form-check form-check-inline">
    <i class="bi bi-database-add h4"></i>
    <input class="form-check-input" type="radio" id="inlineCheckbox2" name="inlineRadio" value="append" required>
    <label class="form-check-label" for="inlineCheckbox2"><b>Aggiungi</b> altri docenti.</label>
  </div>
  <div class="form-check form-check-inline">
    <i class="bi bi-database-fill-gear h4"></i>
    <input class="form-check-input" type="radio" id="inlineCheckbox2" name="inlineRadio" value="update" required>
    <label class="form-check-label" for="inlineCheckbox2"><b>Aggiorna</b> i record già presenti.</label>
  </div>

  
  <div>
    
    <div class="input-group mb-3">
       
  <input class="form-control w-50" type="file" name="file" id="fileadozioni">

  <span class="input-group-text" id="basic-addon1">Separatore</span>
        <select id="sep" name="sep" class="form-select form-select-sm" required>
              <option selected></option>
              <option value=",">,</option>
              <option value=";">;</option>
        </select>
        <div class="invalid-feedback">
          Inserire un separatore valido ',' o ';'
        </div>
 </div>
</div>
</div>
<button class="w-100 btn btn-lg btn-primary mt-3" type="submit" id="myBtn">Carica il file</button> 
 </form>
      
 </div>
 <p class="htmx-indicator">
  <img src="/static/img/bars.svg" width="30"/> attendere prego...
</p>
 <div id="any-errors" class="alert h6 mt-3" role="alert"></div>
 
</div>
</div>
<div class="container" style="width: 100%;">
  <div class="row" id="nuovi_dati_aggiornati">
      {% include 'partial_router_uploadfile.html' %}
      </div>
</div>

{% endblock %}
