{% extends "base.html" %}
{% block content %}
<div hx-ext="response-targets">
<div class="container mt-5 text-center">
  <h3 class="text-center">
    Cerca la tua base dati </h3>
    <i class="bi bi-clipboard2-data h2"></i>
    <div class="card mt-3 text-start" style="width:50%; margin: 0 auto; float: none;">
      <div class="card-body ">
        <h5 class="card-title">Ricerca i dati caricati nel menù adozioni</h5>
        <p class="card-text text-start">Questa pagina consente di cercare ed estrarre dati mediante
          richieste in linguaggio naturale. La ricerca 
          verrà effettuata esclusivamente all'interno dei dati caricati e modificati in
          questa applicazione.</p>
        <ol class="list-group list-group-flush">
          <li class="list-group-item">La domanda deve essere formulata nel modo più dettagliato possibile.</li>
          <li class="list-group-item">
        
            La risposta sarà una query SQL che dovrà essere controllata attentamente dall'utente prima di essere eseguita.
             In particolare è bene stare attenti a comandi come UPDATE, DELETE, DROP, CREATE, ALTER o INSERT che potrebbero
            modificare il database in maniera non voluta. Detto questo, non vi sono limitazioni alla formulazione della query:
            è responsabilità dell'utente controllare che sia corretta e non dannosa.
          </li>
            <li class="list-group-item">Eventualmente  
            si potranno cancellare i dati e ricaricarli nuovamente.</li>
            </ol>
      </div>
      <div class="form-group">

        <form id="form1"
        hx-encoding="multipart/form-data"
        hx-post="/search"
        hx-target="#query"
        hx-indicator=".htmx-indicator"
        hx-target-error="#any-errors"
        hx-trigger="submit">
      <div class="form-group text-center">
        <div>
            
         
          <label class="form-check-label" for="inlineCheckbox1">Formula una ricerca in linguaggio naturale.</label>
             <i class="bi bi-stars h3"></i>
        </div>
      </div>
      <div class="input-group">
        <input type="search" name="input" id="input" class="form-control mt-2" placeholder="Cerca ..." aria-label="Cerca la banca dati">
      </div>
      <button type="submit" class="btn btn-primary">Cerca</button>
      </form>
      <p class="htmx-indicator mb-3 mt-3">
        <img src="/static/img/bars.svg" width="30"/> attendere prego...
      </p>
      <div class="input-group mt-3">
        <span class="input-group-text">Query suggerita</span>
        <textarea class="form-control" id="query" rows="3" aria-label="With textarea"></textarea>
      </div>
      </div>
    </div>
   
      
      <div id="any-errors" class="alert h6 mt-3" role="alert"></div>


    <div class=" mt-5 text-start" style="width:50%; margin: 0 auto; float: none;">
      <form id="form2" 
      hx-encoding="multipart/form-data"
        hx-post="/search_data"
        hx-target="#nuovi_dati"
        hx-indicator=".htmx-indicator"
        hx-target-error="#any-errors"
        hx-trigger="submit">
          <label for="query_dati" class="form-label">Inserisci la query suggerita</label>
          <textarea class="form-control" id="query_dati" name="query_dati" rows="3"></textarea>
       <button type="submit" class="btn btn-primary mt-2">Cerca</button>
      </form>
      </div>
     
</div>


<div id="nuovi_dati" class="">
{% include 'partial_search.html' %}
</div>

</div>
{% endblock %}
